
body {
	background-color:#ffbfcf;
}

#theMenu {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 10px;
}

#theMenu p {
	margin: 0;
   position: absolute;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

#mainBody {
	 margin-left: 10%;
    margin-right: 40%;
    width: 50%;
    padding: 10px;
}

.nav{

	width: 100%;
	text-align: center;
	padding-top: 10px;
}	

.nav li {
    list-style-type:none;
    display:inline;
    overflow:hidden;

}

.nav a {
	background-color: #FFCCFF;
    border-style:solid;
    border-color:#000000;
    border-width:2px;
    color: #000000;
	 margin: 2px;
	 padding: 2px;
}

.nav a.atHere {
	background-color: #B88A95;
	color: #FFFFFF;
}

.body {
	width: 100%;
}


.container h2 {
	color: #490093;
}


.body p { 
	text-indent: 0px;
	margin: 5px;
	color: #490093;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
	
