<!DOCTYPE html>
<!-- Daniel G. McLaughlin
Created on: 05/11/2016 -->
<head>
	<link href="pageCode/homeStyle.css" rel="stylesheet">


	
	<script src="pageCode/randomizerCode/theResults.js" type ="text/javascript"></script>
	<script src="pageCode/randomizerCode/fanartFunctions.js" type ="text/javascript"></script>
<!-- 
	<script src="pageCode/randomizerCode/textCode.js" type ="text/javascript"></script>
-->
</head>

<body ng-app="mainPage" ng-controller="randomizers">
	<div id="theMenu">
	<button ng-click="randomizer = 'HTMLContent/themeRandomizer'">theRandomizer</button>
	<button ng-click="randomizer = 'HTMLContent/theBall'">the8Ball</button>
	<button ng-click="randomizer = 'HTMLContent/factSphere'">trueFacts</button>	
	</div>
	
	<br>
	
	<div id="mainBody" ng-include="randomizer">
	</div>
	
	

	<script src="pageCode/angular.js" type ="text/javascript"></script>
	<script src="pageCode/angular-sanitize.js" type ="text/javascript"></script>
	<script src="pageCode/angularCode.js" type ="text/javascript"></script>


</body>
</html>
